<dialog class="modal-overlay self-center md:items-center"" aria-hidden="true" tabindex="-1" id="my-modal" >
  <div id="modal-dialog" class="modal-dialog transition duration-300 translate-y-[100%] md:scale-[.55] md:opacity-0 md:w-[90vw]">
    <div class="modal-content h-full">
      <button onclick="closeCalendar()" type="button" class="modal-close right-2 md:rigt-0" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <iframe title="Google Calendar" src="https://calendar.google.com/calendar/appointments/schedules/AcZssZ3drXi2j_NDP1NqGMdu1qbA9mU7uF20M3rMGBQZCv9MeqUmMDAS7qYl6SiCpECQK16l_QV7iqW7?gv=true" style="border: 0" width="100%" height="100%"></iframe>
    </div>
</dialog>
