<section id="contact" class="flex flex-col items-center justify-center gap-4 mb-8 md:min-h-screen">
  <h2 class="text-lg md:text-xl leading-2 font-semibold text-center">
    Looking for a Trusted Software Partner? Let's Build Something Great Together.
  </h2>
  <p class="text-md text-center md:text-left lg:text-title">Let's connect! We will respond promptly to start building something great together</p>
  <div class="flex flex-col-reverse justify-center items-center gap-4 md:flex-row">
    {% assign btn_title = "Schedule Call Now" %}
    {% include "btn-primary.html" %}
    {% include "mail-link.html" %}
  </div>
</section>
