<header id="header" class="header bg-blur fixed px-2 md:px-6 z-50">
  {% include "logo.html" %}
  <nav aria-label="navigation" class="nav hidden md:grid">
    <a title="scroll to hero sections" href="/#home">Home</a>
    <a title="scroll to process sections" href="/#process">Process</a>
    <a title="scroll to contact sections" href="/#contact">Contact</a>
    <a title="scroll to services sections" href="/#services">Services</a>
  </nav>
  <button id="burger" class="md:hidden flex items-center py-2">
    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.25 6L24 6" stroke="#FFF9F9" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M3.25 12L24 12" stroke="#FFF9F9" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M3.25 18L24 18" stroke="#FFF9F9" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </button>
  <div id="mobile-nav" class="hidden absolute top-0 left-0 z-10 flex flex-col w-full items-center justify-end gap-4 pb-15 px-2 bg-gray-500 h-screen md:hidden">
    <div class="w-full shrink-0 flex justify-between items-center mb-auto">
      {% include "logo.html" %}
      <button id="burger-close" class="md:hidden flex items-center py-2 hover:opacity-80">
        <svg class="relative" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="stroke-1" d="M3.25 6L24 6" stroke="#FFF9F9" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
            <path class="stroke-2" d="M3.25 12L24 12" stroke="#FFF9F9" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
            <path class="stroke-3" d="M3.25 18L24 18" stroke="#FFF9F9" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
    </div>
    <nav aria-label="navigation" class="mobile-nav flex flex-col pb-8 w-full px-2">
      <a title="scroll to hero sections" href="/#home">Home</a>
      <a title="scroll to process sections" href="/#process">Process</a>
      <a title="scroll to contact sections" href="/#contact">Contact</a>
      <a title="scroll to services sections" href="/#services">Services</a>
    </nav>
      {% include "mail-link.html" %}
  </div>
</header>
