<section id="home" class="section text-center gap-3 flex flex-col justify-center items-center 2xl:gap-4">
  <h1 class="text-xl lg:text-2xl 2xl:text-3xl font-semibold leading-1">Launch Your Dream App<br/> From Idea to Market, We've Got You Covered</h1>
  <p class="text-sm md:text-title font-regular">We build scalable, user-centric web and mobile applications using cutting-edge<br/> technologies like React Native, Node.js, and AWS</p>
  {% assign btn_title = "Get a Free Consultation" %}
  {% include "btn-primary.html" %}
</section>
