<section id="process" class="flex flex-col gap-8 2xl:gap-15">
  <section>
    <h2 class="text-xl font-semibold leading-1 text-center mb-4 2xl:mb-8">Why Choose Us?</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <div>
        <article>
          <h3 class="text-title gradient-text mb-2 text-center md:text-left">User Centric Approach</h3>
          <p class="text-md">We design with the end-user in mind, ensuring that every product we create enhances user experience and solves real-world problems</p>
        </article>
      </div>

      <div>
        <article>
          <h3 class="text-title gradient-text mb-2 text-center md:text-left">Proven Expertise</h3>
          <p class="text-md">With years of hands-on experience and a diverse portfolio, our team brings a wealth of knowledge to every project we undertake.</p>
        </article>
      </div>

      <div>
        <article>
          <h3 class="text-title gradient-text mb-2 text-center md:text-left">Scalable Growth</h3>
          <p class="text-md">Our solutions are built to grow with your business, providing flexibility and support as your needs evolve. </p>
        </article>
      </div>
    </div>
  </section>


  <section class="relative">
    <figure class="absolute figure -right-[50%] -top-[50%] bg-[#0685EA]"></figure>
    <h2 class="text-xl font-semibold leading-1 text-center mb-4 2xl:mb-8">Our Process</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="text-box border border-[0.5px] border-gray-100 rounded-md p-4">
        <figure class="size-4 mb-2">
          <img src="/assets/images/cpu.png" alt="CPU Icon" />
        </figure>
        <article>
          <h3 class="text-title mb-1">Discovery and Strategy</h3>
          <p class="text-sm">We begin by identifying your unique challenges and goals, ensuring we create solutions tailored to your business. </p>
        </article>
      </div>

      <div class="text-box border border-[0.5px] border-gray-100 rounded-md p-4">
        <figure class="size-4 mb-2">
          <img src="/assets/images/pallete.png" alt="Pallete Icon" />
        </figure>
        <article>
          <h3 class="text-title mb-1">Design and Prototyping</h3>
          <p class="text-sm">We craft detailed prototypes and user-focused designs to visualize the end product and refine functionalities. </p>
        </article>
      </div>

      <div class="text-box border border-[0.5px] border-gray-100 rounded-md p-4">
        <figure class="size-4 mb-2">
          <img src="/assets/images/science.png" alt="Science Icon" />
        </figure>
        <article>
          <h3 class="text-title mb-1">Development and Testing</h3>
          <p class="text-sm">Our team builds robust systems, rigorously testing for quality, performance, and seamless integration. </p>
        </article>
      </div>

      <div class="text-box border border-[0.5px] border-gray-100 rounded-md p-4">
        <figure class="size-4 mb-2">
          <img src="/assets/images/rocket.png" alt="Rocket Icon" />
        </figure>
        <article>
          <h3 class="text-title mb-1">Launch and Optimization</h3>
          <p class="text-sm">We deploy your solution, monitor performance, and fine-tune for long-term success and scalability. </p>
        </article>
      </div>
    </div>
  </section>
</section>
