<section id="services" class="relative flex flex-col justify-center">
  <figure class="absolute figure -left-[50%] bg-[#2aecbb4d]"></figure>
  <h2 class="text-xl font-semibold leading-1 text-center mb-8">Explore Our Services</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="text-box grid grid-cols-3 border border-[0.5px] border-gray-100 rounded-md p-2">
      <figure class="col-span-3 md:col-span-1 md:order-last">
        <img class="block mx-auto" src="/assets/images/cloud.png" alt="Cloud Icon" />
      </figure>
      <article class="col-span-3 md:col-span-2 p-1">
        <h3 class="text-title mb-1">Custom Software<br/>Solutions</h3>
        <p class="text-md">Don't get bogged down in lengthy development cycles and inflated costs. We build custom software solutions designed specifically for startups, prioritizing speed, cost-effectiveness, and future scalability</p>
      </article>
    </div>

    <div class="text-box flex flex-col border border-[0.5px] border-gray-100 rounded-md p-2 row-span-2">
      <figure class="mt-auto">
        <img class="block mx-auto md:ml-auto" src="/assets/images/db.png" alt="React Icon" />
      </figure>
      <article class="w-full mt-auto p-1">
        <h3 class="text-title mb-1">Strategic Tech Guidance for Startup Success</h3>
        <p class="text-md">Navigating the complex world of technology can be overwhelming for startups.  Let us be your guide. We provide strategic technology consulting services tailored to your unique needs, helping you make informed decisions about your tech stack, avoid costly mistakes, and build a sustainable foundation for your business.</p>
      </article>
    </div>

    <div class="text-box grid grid-cols-3 border border-[0.5px] border-gray-100 rounded-md p-2">
      <figure class="col-span-3 flex items-center justify-center md:col-span-1 md:order-last">
        <img class="block mx-auto" src="/assets/images/react.png" alt="Database Icon" />
      </figure>
      <article class="col-span-3 md:col-span-2 p-1">
        <h3 class="text-title mb-1">Web & Mobile Application<br/>Development</h3>
        <p class="text-md">Reach your target audience across all devices with our expert web and mobile application development services. We utilize React Native, a cutting-edge framework, to build native-quality apps for both iOS and Android from a single codebase.</p>
      </article>
    </div>

  </div>
</section>
