<section id="services" class="relative flex flex-col justify-center">
  <figure class="absolute figure -left-[50%] bg-[#2aecbb4d]"></figure>
  <h2 class="text-xl font-semibold leading-1 text-center mb-4 2xl:mb-8">Explore Our Services</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
    <div class="text-box grid grid-cols-3 border border-[0.5px] border-gray-100 rounded-sm p-2 md:p-3">
      <figure class="col-span-3 md:col-span-1 md:order-last">
        <img class="block mx-auto h-auto w-30" src="/assets/images/cloud.png" loading="lazy" alt="Cloud Icon" />
      </figure>
      <article class="col-span-3 md:col-span-2 pr-1">
        <h3 class="text-title mb-1">Custom Software<br/>Solutions</h3>
        <p class="text-md">We build custom software for startups, ensuring speed, cost-efficiency, and scalability.</p>
      </article>
    </div>

    <div class="text-box flex flex-col border border-[0.5px] border-gray-100 rounded-sm p-2 md:p-3 row-span-2">
      <figure class="mt-auto">
        <img class="block mx-auto h-auto w-30 md:h-32 md:ml-auto" src="/assets/images/db.png" loading="lazy" alt="Database Icon" />
      </figure>
      <article class="w-full mt-auto pr-1">
        <h3 class="text-title mb-1">Strategic Tech Guidance for Startup Success</h3>
        <p class="text-md">Tech is complex for startups. We guide you with strategic consulting to avoid costly mistakes and build a strong foundation.</p>
      </article>
    </div>

    <div class="text-box grid grid-cols-3 border border-[0.5px] border-gray-100 rounded-sm p-2 md:p-3">
      <figure class="col-span-3 flex items-center justify-center md:col-span-1 md:order-last">
        <img class="block mx-auto h-auto w-30" src="/assets/images/react.png" loading="lazy" alt="React Icon" />
      </figure>
      <article class="col-span-3 md:col-span-2 pr-1">
        <h3 class="text-title mb-1">Web & Mobile Application<br/>Development</h3>
        <p class="text-md">Reach your audience with expert web and mobile app development using React Native.</p>
      </article>
    </div>

  </div>
</section>
