<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css" />
    <title>{{ title }}</title>
</head>
<body>
  <div class="relative">
    <header class="header fixed px-6">
      {% include "header.html" %}
    </header>
    <main class="container mx-auto">
      {% include "hero.html" %}
      {% include "services.html" %}
      {% include "pitch.html" %}
      {% include "contact.html" %}
    </main>
    <footer class="bg-white">
      {% include "footer.html" }
    </footer>
  </div>
</body>
</html>
