<section id="contact" class="section flex flex-col items-center justify-center gap-4">
  <h2 class="text-xl leading-2 font-semibold text-center">
    Looking for a Trusted Software Partner?<br/>
    Let's Build Something Great Together.
  </h2>
  <p class="text-md">Let's connect! MDIO will respond promptly to start building something great together</p>
  <div class="flex justify-center items-center gap-4">
    {% include "btn-primary.html" %}
    <a class="text-primary text-xs font-regular" href="mailto:info@mdivani.org">info@mdivani.org</a>
  </div>
</section>
