<section id="services" class="section flex flex-col justify-center">
  <h2 class="text-xl font-semibold leading-1 text-center mb-8">Explore Our Services</h2>
  <div class="grid grid-cols-2 gap-4">
    <div class="grid grid-cols-3 border border-[0.5px] border-gray-100 rounded-md p-2">
      <article class="col-span-2">
        <h3 class="heading-3 mb-1">Custom Software<br/>Solutions</h3>
        <p class="text-md">We create software tailored<br/> to your specific needs,<br/>ensuring efficiency and<br/>scalability.</p>
      </article>
      <figure>
        <img src="/assets/images/cloud.png" alt="Cloud Image" />
      </figure>
    </div>

    <div class="flex flex-col border border-[0.5px] border-gray-100 rounded-md p-2 row-span-2">
      <figure>
        <img class="ml-auto" src="/assets/images/react.png" alt="React Image" />
      </figure>
      <article class="w-full">
        <h3 class="heading-3 mb-1">Web & Mobile Application<br/>Development</h3>
        <p class="text-md">Delivering responsive and user-friendly apps<br/>to enhance your digital presence and<br/>customer engagement.</p>
      </article>
    </div>

    <div class="grid grid-cols-3 border border-[0.5px] border-gray-100 rounded-md p-2">
      <article class="col-span-2">
        <h3 class="heading-3 mb-1">Comprehensive IT<br/>Consulting</h3>
        <p class="text-md">Empowering businesses with<br/>strategic insights to harness<br/>technology for sustained<br/>growth. </p>
      </article>
      <figure class="h-full flex items-center justify-center">
        <img src="/assets/images/db.png" alt="Software Image" />
      </figure>
    </div>

  </div>
</section>
